In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('../TG_network_datasets/CanParl/CanParl.csv')
folder = 'Contacts'
# df = pd.read_csv(f'./datasets/{folder}/{folder}.csv')
df = pd.read_csv(f'./datasets/{folder}/ml_{folder}.csv')

In [3]:
len(df)

2426279

In [4]:
df.head()

   Unnamed: 0  u   i   ts  label  idx
0           0  1   2  0.0    0.0    1
1           1  3   4  0.0    0.0    2
2           2  5   6  0.0    0.0    3
3           3  7   8  0.0    0.0    4
4           4  9  10  0.0    0.0    5

In [5]:
df = df.drop(['label', 'Unnamed: 0', 'idx'],axis=1)

In [6]:
df.head()

   u   i   ts
0  1   2  0.0
1  3   4  0.0
2  5   6  0.0
3  7   8  0.0
4  9  10  0.0

In [7]:
timestamps = df['ts'].unique()

In [8]:
# Create a mapping of original timestamps to new sequential values
timestamp_mapping = {ts: idx for idx, ts in enumerate(sorted(timestamps))}

# Apply the mapping to the 'timestamp' column in degrees_df
df['ts'] = df['ts'].map(timestamp_mapping)

# Display the updated DataFrame
df.head()

   u   i  ts
0  1   2   0
1  3   4   0
2  5   6   0
3  7   8   0
4  9  10   0

In [9]:
df.to_pickle(f'./datasets/processed/{folder}/degrees.pickle')

In [ ]:
nodes_degrees = []

for ts in timestamps:
    sub_df = df[df['ts'] == ts]
    indegrees = sub_df['i'].value_counts().to_dict()
    outdegrees = sub_df['u'].value_counts().to_dict()
    for node in set(indegrees.keys()).union(outdegrees.keys()):
        nodes_degrees.append({
            'timestamp': ts,
            'node': node,
            'indegree': indegrees.get(node, 0),
            'outdegree': outdegrees.get(node, 0)
        })

# Convert the list of dictionaries to a DataFrame
degrees_df = pd.DataFrame(nodes_degrees)

# Display the DataFrame
degrees_df.head()

   timestamp  node  indegree  outdegree
0        0.0     1         0          1
1        0.0     2         1          0
2        0.0     3         0          1
3        0.0     4         1          0
4        0.0     5         0          1

In [25]:
degrees_df

      timestamp  node  indegree  outdegree
0           0.0     1         0          1
1           0.0     2         1          0
2           0.0     3         0          1
3           0.0     4         1          0
4           0.0     5         0          1
...         ...   ...       ...        ...
4286     7800.0   412         1          0
4287     7800.0   414         2          0
4288     7800.0   443         3          5
4289     7800.0   486         3          0
4290     7800.0   510         0          1

[4291 rows x 4 columns]

In [1]:
# Create a mapping of original timestamps to new sequential values
timestamp_mapping = {ts: idx for idx, ts in enumerate(sorted(timestamps))}

# Apply the mapping to the 'timestamp' column in degrees_df
degrees_df['timestamp'] = degrees_df['timestamp'].map(timestamp_mapping)

# Display the updated DataFrame
degrees_df.head()

NameError: name 'timestamps' is not defined

In [2]:
degrees_df['timestamp'].unique()

NameError: name 'degrees_df' is not defined

In [15]:
# Save the degrees_df DataFrame as a .pickle file
degrees_df.to_pickle('./datasets/processed//degrees_df.pickle')